<div class="container">
    <div class="row min-vh-100 pt-5 d-flex align-items-center">
        <div class="col-lg-6 col-12 mt-lg-0 mt-5 p-0">
            <img src="static/img/logo.png" class="d-block m-auto logo" alt="Logo">
        </div>
        <div class="col-lg-6 col-12 mb-lg-0 mb-5 p-0 text-lg-start text-center">
            <h1 class="tagline">Always here</h1>
            <h1 class="tagline">to recommend</h1>
            <h1 class="tagline">your food</h1>
            <a href="/option" class="btn btn-brown mt-3 w-25 d-block m-auto float-lg-start">Start <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>