<div class="container">
    <div class="row min-vh-100 pt-5 d-flex align-items-center">
        <div class="col text-center">
            <h1 class="text-orange"><i class="fa fa-check fa-5x"></i></h1>
            <h2 class="text-brown">Marked successfully</h2>
            <p class="text-gold">Your marked choice will be used for the next recommendation.</p>
            <a href="/result" class="btn btn-brown mb-3">Recommend again <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>